 
.cont{
    padding-left:45%;
}
a{
    text-decoration: white;
    
    color:black; 
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   

}

a:hover{
    text-decoration-style: dashed;
    text-decoration-style: solid rgb(36, 14, 14);
    color: rgb(250, 18, 18);
   
}
a+a::before{
     padding: 8px;
  color: black;
  content: "/";
}

@media only screen and (max-width:510px){
.cont{
    padding-left:20%;
}


}


